ion-content {
  --background: url('/assets/wave_bg.png') no-repeat center bottom / cover;
}

ion-card {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 120px;

  animation: in;
  animation-duration: 0.6s;
}

ion-item {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 12px;
}

ion-button {
  width: 100px;
}

@keyframes in {
  from {
    opacity: 0;
    margin-top: 240px;
  }
  to {
    opacity: 1;
  }
}